* {
    margin: 0;
    padding: 0;
}

#navegacao {
    width: auto;
    height: 40px;
    background-color: aqua;
    text-align: center ;
}

ul li {
    display: inline;
    
}
ul li a {
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px 30px ;
    line-height: 2.1em;
}

ul li.caixa {
    background-color: brown;
}