* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/*cabeçalho*/

h1 {
    color:#473BF8;
    padding: 40px;
    text-align: center;
    font-size: 4em;
}
span {
    color:black;
}

#cabe1 {
    background-color:white;
    width: auto;
    height: 150px;
}
/*conteudo*/

#container {
    width: 1000px;
    margin: auto;
    background-color: white;

}
#conteudo {
   
    background-color: white;
    margin: auto;
    

}
#conteudo h2 {
    font-size: 2em;
    text-transform: uppercase;
    padding: 30px;
    color: ;
}

#conteudo p {
    padding: 0px 5px 5px 5px;
}

/* barra lateral*/

#barra-lateral {
    width: auto;
    height: 40px;
    list-style: none;
    background-color: #0080FF;
    
}
#barra-lateral ul li {
    display:inline;
    text-transform: uppercase;
    padding: 0 60px 0 0;
    
}
#barra-lateral ul {
    text-align: center;
    padding-top: 10px;
    
}


/*imagens*/
img {
    padding: 20px 90px 15px 90px;
}

iframe {
    width: 800px;
    height: 500px;
    padding: 20px 90px 15px 90px;

}

/* radape */

footer {
    background-color: rgb(226, 226, 226);
    clear: both;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}

/* links */

* a {
    text-decoration: none;
}
#barra-lateral a:visited, a:link{
    color: black;
}
#barra-lateral a:hover{
    color: #00FFFF;
}
#cabe1 a {
    color: lightskyblue;
}

#conteudo p {
    padding-left: 30px;
}
